*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    max-width: 1170;
    margin: 0 auto;
}

.row
{
    width: 100%;
}

.row::after
{
    content: '';
    display: table;
    clear: both;
}

.row [class*="col-"]
{
    float: left;
}

.dbg [class*="col-"]
{
    height: 80px;
    background-color: rgb(97, 158, 47);
}


.col-1
{
    width: calc((100% / 14)*1);
}
.col-2
{
    width: calc((100% / 14)*2);
}
.col-3
{
    width: calc((100% / 14)*3);
}
.col-4
{
    width: calc((100% / 14)*4);
}
.col-5
{
    width: calc((100% / 14)*5);
}
.col-6
{
    width: calc((100% / 14)*6);
}
.col-7
{
    width: calc((100% / 14)*7);
}
.col-8
{
    width: calc((100% / 14)*8);
}
.col-9
{
    width: calc((100% / 14)*9);
}
.col-10
{
    width: calc((100% / 14)*10);
}
.col-11
{
    width: calc((100% / 14)*11);
}
.col-12
{
    width: calc((100% / 14)*12);
}
.col-13
{
    width: calc((100% / 14)*13);
}
.col-14
{
    width: calc((100% / 14)*14);
}


.offset-col-1
{
    margin-left: calc((100% / 14)*1);
}
.offset-col-2
{
    margin-left: calc((100% / 14)*2);
}
.offset-col-3
{
    margin-left: calc((100% / 14)*3);
}
.offset-col-4
{
    margin-left: calc((100% / 14)*4);
}
.offset-col-5
{
    margin-left: calc((100% / 14)*5);
}
.offset-col-6
{
    margin-left: calc((100% / 14)*6);
}
.offset-col-7
{
    margin-left: calc((100% / 14)*7);
}
.offset-col-8
{
    margin-left: calc((100% / 14)*8);
}
.offset-col-9
{
    margin-left: calc((100% / 14)*9);
}
.offset-col-10
{
    margin-left: calc((100% / 14)*10);
}
.offset-col-11
{
    margin-left: calc((100% / 14)*11);
}
.offset-col-12
{
    margin-left: calc((100% / 14)*12);
}
.offset-col-13
{
    margin-left: calc((100% / 14)*13);
}

