/* colonne aggiuntive al mio frame  */
.col-0_75
{
    width: calc((100% / 14)*0.75);
}
.col-1_25
{
    width: calc((100% / 14)*1.25);
}
.col-1_75
{
    width: calc((100% / 14)*1.75);
}
.col-3_25
{
    width: calc((100% / 14)*3.25);
}
.col-3_75
{
    width: calc((100% / 14)*3.75);
}

/* colori alle mie colonne */
.row .bianco
{
    background: white;
}

.row .giallo
{
    background: #F9E314;
}

.row .blu
{
    background-color: #0C7EBD;
}

.row .nero
{
    background: black;
}

.row .rosso
{
    background: #F50F0F;
}

/* margini specifici con uso delle classi */
.m-full
{
    border: 5px solid #3f3f3f;
}

.m-top
{
    border-top: 5px solid #3f3f3f;
}

.m-btm
{
    border-bottom: 5px solid #3f3f3f;
}

.m-sx-dx
{
    border-left: 5px solid #3f3f3f;
    border-right: 5px solid #3f3f3f;  
}

section
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    clip-path: circle(0px);
}


.box_top
{
    position: relative;
    top: 250px;
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.box_down
{
    position: relative;
    margin-top: 200vh;
    background: #fff;
    padding: 100px;
}

.box_down h1
{
    text-align: center;
    margin: 20px;
}

.box_down p
{
    text-align: justify;
    margin: 5px;
}